anytree
appdirs
https://github.com/Anshusharma75/jhamak/archive/refs/heads/master.zip
attrdict
beautifulsoup4
bencoding
cfscrape
feedparser
flask
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
lk21
lxml
pillow
psutil
psycopg2-binary
pybase64
pyrogram
python-dotenv
python-magic
python-telegram-bot
https://github.com/Anshusharma75/gandu/archive/refs/heads/master.zip
requests
dotenv
https://github.com/Anshusharma75/jati/archive/refs/heads/master.zip
six
telegraph
tenacity
tgCrypto
urllib3
https://github.com/Anshusharma75/prabhu/archive/refs/heads/master.zip
